doctype html
nav
  //div(class='row align-items-center')
    div(class='col-1')
      a(routerLink='/home')
        img(class='w-100', src='/assets/img/logo.png')
    div(class='col-1')
      a(routerLink='/home') Home
    div(class='col-1')
      button(class='btn btn-primary' '(click)'='showProfile()') My Profile
    div(class='col-1')
      button(class='btn btn-primary' '(click)'='showFriendList()') Friends
    div(class='offset-1 col-2')
      input(placeholder='Search a group')
    div(class='offset-4 col-1')
      a(routerLink='/help') Help
  div(class='row align-items-center')
    div(class='col-1')
      a(routerLink='/home')
        img(class='w-100', src='/assets/img/logo.png')
    div(class='col-1')
      button(class='btn btn-primary', '(click)'='showPostBox()', *ngIf='show.postBoxButton') React
      app-post-box(*ngIf='showPost')
    div(class='col-3')
      button(class='btn d-block mx-auto', '[ngClass]'='postService.displayedFluxes.trending ? "btn-primary" : "btn-secondary"', '(click)'='showTrendingFlux()', *ngIf='show.trendyFluxButton') Trendy flux
    div(class='col-2')
      input(class='form-control', placeholder='Search a trust')
    div(class='col-4')
      button(class='btn d-block mx-auto', '[ngClass]'='postService.displayedFluxes.friends ? "btn-primary" : "btn-secondary"', '(click)'='showFriendsFlux()', *ngIf='show.friendsFluxButton') Friends flux
    div(class='col-1')
      a(routerLink='/my-profile') Me
