nav
  div(class='row align-items-center')
    div(class='col-2')
      a(routerLink='/about') About
    div(class='col-2')
      a(routerLink='/help') Help
    div(class='col-2')
      a(routerLink='/my-profile') Privacy Policy
    div(class='col-2')
      a(routerLink='/my-profile') Echo-Mobile
    div(class='col-2')
      a(routerLink='/help') Groups
    div(class='col-2')
      a(routerLink='/help') Find friends