div('(click)'="onContainerClicked($event)" tabindex="-1" '[ngStyle]'="{'display': visible ? 'block' : 'none'}")
  div(class="modal-dialog")
    div(class="modal-content")
      div(class="modal-header")
        div('(click)'='addEmoji(e)', class='emoji', *ngFor='let e of actualEmojis', '[innerHTML]'='e | emojis')
      div(class="modal-body")
        ng-content(select=".app-modal-body")
      div(class="modal-footer")
        ng-content(select=".app-modal-footer")