doctype html
div('(click)'='onContainerClicked($event)', tabindex='-1', '[ngStyle]'='{"display": visible ? "block" : "none"}')
  div(class='modal-dialog')
    div(class='modal-content')
      //div(class='modal-header')
      div(class='modal-body')
        button('(click)'='previousRow()') <
        div(class='emoji-block', *ngFor='let range of actualEmojis; let index = index;')
          div(*ngIf='isDisplayed(index)')
            div(class='emoji', '(click)'='addEmoji(e)', *ngFor='let e of range', '[innerHTML]'='e | emojis')
        button('(click)'='nextRow()') >
      //div(class='modal-footer')
