.post-box {
  position: absolute;
  width: 300px;
  height: 400px;
  textarea {
    position: relative;
    height: 200px;
    resize: none;
  }
  .show-emojis {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .emojis {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}