doctype html
div(*ngIf='posts')
  div(*ngFor='let post of posts')
    div(class='card', *ngIf='(post.type === "trending" && postService.displayedFluxes.trending) || post.type === "friends" && postService.displayedFluxes.friends')
      div(class='card-body')
        button(class='close-post-button' '(click)'='close(post.id)') x
        h2('[innerHTML]'='post.name | emojis')
        div('[innerHTML]'='post.content | emojis')
        a(class='btn btn-primary') More
        div(class='font-italic') Yesterday


