doctype html
div(class='feed')
  input(class='w-75 form-control' placeholder='Whats that ?' '[(ngModel)]'='currentPost.name' '(focus)'='selectTitle()')
  textarea(class='w-100 form-control' placeholder='Say something already' '[(ngModel)]'='currentPost.content' '(focus)'='selectContent()')
  app-emojis(ref-emojis class='emojis', '(onEmoji)'="onEmoji($event)")
  button(type="button" class='btn btn-primary show-emojis' '(click)'="emojis.show()") Emojis :O
button(type='button' class='btn btn-primary' '(click)'='post()') Echo it !

div(*ngIf='posts')
  div(*ngFor='let post of posts' class='card')
    div(class='card-body')
      button(class='close-post-button' '(click)'='close(post.id)') x
      h2('[innerHTML]'='post.name | emojis')
      div('[innerHTML]'='post.content | emojis')
      a(class='btn btn-primary') More
      div(class='font-italic') Yesterday
      

