input(class='w-75' placeholder='Whats that ?' '[(ngModel)]'='currentPost.name')
button(class='w-25 button primary-button' '(click)'='post()') Echo it !
textarea(class='w-100' placeholder='Say something already' '[(ngModel)]'='currentPost.content')
div(*ngIf='posts')
  div(*ngFor='let post of posts' class='card')
    div(class='card-body')
      button(class='close-post-button' '(click)'='close(post.id)') x
      h2 {{post.name}}
      div {{post.content}}
      a(class='btn btn-primary') More
      div(class='font-italic') Yesterday