doctype html
app-header([app]='app')
div(class='row')
  //div(class='col-4', *ngIf='show.profile')
    img(class='w-100', src='/assets/img/profile.png')
    div(class='p-4 mt-1 card')
      div(class='card-body')
        div(class='card') **Presentation of me**
        div Reputation XXX
        div Reputation of last 10 posts
        div Followed by XXX
        div Live at *region*/*country*
  div('[class]'='getFeedClass()')
    app-feed
  //div(class='col-3 friend-list', *ngIf='show.friendList')
    div(class='text-center', *ngFor='let friend of friends', '[style.background-color]'='getReputation(friend)')
      h2 {{friend.name}}
      img(class='w-50', src='/assets/img/profile.png')
      h5 {{friend.reputation}}
app-footer